<font size="20" font face="impact" color="hotpink">Melakarta List</font>
 
<table>
  <tr>
    <th><font size="5" font face="courier" color="darkorchid">Name</th>
    <th><font size="5" font face="courier" color="darkorchid">Scale</th>
    <th></th>
  </tr>
  <body style="background-color:paleturquoise;">
  <% @melakarta.each do |melakartum| %>
    <tr>
      <td><%= melakartum.name %></td>
      <td><%= melakartum.scale %></td>
    </tr>
  <% end %>
</table>
