<font size="20" font face="impact" color="hotpink">Melakarta List</font>
 
<table>
  <tr>
    <th><font size="5" font face="courier" color="darkorchid">Raga Name</th>
    <th><font size="5" font face="courier" color="darkorchid">Scale</th>
    <th><font size="5" font face="courier" color="darkorchid">Melakarta ID</th>
    <th></th>
  </tr>
  <body style="background-color:paleturquoise;">
  <% @janyas.each do |janya| %>
    <tr>
      <td><%= janya.raga_name %></td>
      <td><%= janya.scale %></td>
      <td><%= janya.melakartum_id %></td>
    </tr>
  <% end %>
</table>
