
<font size="20" font face="impact" color="hotpink">Janyas and Melakartas</font>
<br>
<font size="5" font face="impact" color="darkorchid">By Siri Rao</font>

<br> 
<br>


<br>
<img src="/melakarta.jpg" />

<body style="background-color:paleturquoise;">
<body>

<h2><font face="courier" color="darkorchid">What is a melakarta raga?</h2>
<h3>A melakarta raga is a collection of fundamental musical scales in Carnatic music </h3>
<h4>Click below to see a few melakarta ragas</h4>
<%= link_to 'Melakarta', melakarta_path %>
<br>
<br>
<h2>What is a janya raga?</h2>
<h3>A janya raga is one derived from one of the 72 melakarta ragas</h3>
<h4>Click below to see a few janya ragas</h4>
<%= link_to 'Janyas', janyas_path %>
</body>



