<font size="20" font face="impact" color="hotpink">Janyas and Melakartas</font>
<br>
<font size="5" font face="impact" color="darkorchid">By Siri Rao</font>


<a href='/login'>
<button>Login Here</button>

<a href='/signup'>
<button>Signup Here</button>


<br> 
<br>

<br>
<img src="/melakarta.jpg" />

<body style="background-color:paleturquoise;">
<body>



</body>








